

  
  body {
  /*background: 
    radial-gradient(circle at 20% 30%, rgba(255,255,255,0.5) 0%, transparent 60%),
    radial-gradient(circle at 80% 70%, rgba(0,0,0,0.15) 0%, transparent 70%),
    linear-gradient(135deg, #d9d9d9, #bfbfbf);*/
    /*background-color: #e4d7d7;*/
  min-height: 100vh;
  padding: 2rem;
}
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.navbar {
    position: fixed;
    top: 20px;
    right: 20px;
    /*transform: translateX(-50%);*/
    z-index: 1000;

    background: rgba(123, 92, 255, 0.15); 
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 14px;
    padding: 8px 15px;
    box-shadow: 0 8px 25px rgba(123, 92, 255, 0.35);
}

a {
  background: linear-gradient(135deg, #7B5CFF, #9E84FF);
  
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 25px;
  margin: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease, background 0.3s ease,box-shadow 0.3s ease;
}
.nav-buttons  {
    transform: translateY(-3px) scale(1.05);
    justify-content: flex-end;
    align-items: center;
    display: flex; 
    /*box-shadow: 0 8px 20px rgba(123, 92, 255, 0.6);
    /*backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);*/
}




html {
    scroll-behavior: smooth;
}

section {
    padding-top: 120px;
    min-height: 100vh;
}

.cards {
  grid-template-columns:1fr 1fr;
  display: grid;
  gap: 20px;
  max-width: 900px;
  margin: 50px auto;
  backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  
}
.card2, .card3, .card4, .cards{
  padding: 2rem;
  border-radius: 12px;
  
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  font-family: "Cormorant Garamond", serif;
  color: white;
  background:transparent;
  backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  
  
}

.card1 {
  
  background:transparent;
  background: linear-gradient(135deg, #7B5CFF, #9E84FF);
  
  grid-column: 1 / -1;
  border-radius: 12px;
  height: 400px;
  
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  
}
.card1-content {
  display: flex;
  align-items: center;      
  gap: 25px;
}

.img3 {
  width: 200px;
  height: 320px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;

  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.card1 p {
  text-align: left;
  line-height: 1.6;
  font-size: 1rem;
}
.card1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card1-text h2 {
  margin-bottom: 15px;
}

.card1-text p {
  text-align: left;
  line-height: 1.6;
  font-size: 1rem;
}




.card2 {
  
  background: rgba(26,26,26,0.8);
   background: linear-gradient(135deg, #7B5CFF, #9E84FF);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4), 0 0 20px rgba(0,255,200,0.2); 
    backdrop-filter: blur(10px); 
    padding: 20px;
    
}
.card3 {
  background: linear-gradient(135deg, #7B5CFF, #9E84FF);
  
  
}
.card4 {
  background: linear-gradient(135deg, #7B5CFF, #9E84FF);
  
  }
.card5 {
  background: linear-gradient(135deg, #7B5CFF, #9E84FF);
  
}





/* aqui va la parte del about me*/
/*aqui van las skills */
/*portafolio*/



.carrusel2 {
  margin: 100px auto;
  width: 100%;
  display: flex;
  overflow-y: auto;
  gap: 1em;  

}


.carrusel2::-webkit-scrollbar {
  display: none;
  /*escodner la barra de scroll*/
 
}

.grupo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 30s infinite ease-in;
  /* infinite linear;*/
  padding-right: 1em;
}


.card-carrusel {
    display: flex;
    flex-direction: column;
    flex: 0 0 7em;
  /*5 veces el tamaño de la fuente raiz*/
  height: 9em;
  padding: 0.5em;
  /*background: cornflowerblue;*/
  font-size: 3rem;
  border-radius: 0.5em;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
  background:transparent;
  backdrop-filter: blur(6px); 
  /*background-color: #ffffff;*/
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 

}
.card-carrusel:hover {
  transform: scale(1.09);   
  box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* sombra más intensa */
}

.img2 {
  width: auto;
  height: 80%;
  object-fit: cover;
  /* proporcion*/
  border-radius: 0.2em;

}
.titulo-carrusel {
  text-align: center;
  font-size: 1.4rem; 
  color: #4da6ff;         
  font-weight: 600;
}

.descripcion2 {
  font-size: 0.85rem; 
  color: #813e64; 
  margin: 4px 0;
  font-weight: 500;
  min-height: 35px; 
}


.btn-carrusel {
  align-self: center;
  padding: 6px 12px;
  background-color: #FF9FD7;
  border: 2px solid #eee7eb;
  border-radius: 12px;
  font-weight: 600;
  font-size: 0.85rem;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}


.btn-carrusel:hover {
  background-color: #E1306C;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.card-interna-texto {
    background-color: #ffffff; 
    padding: 6px;
    border-radius: 0.2em;
    margin-top: -70px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}



@keyframes spin {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}


/*contactame*/
